<section id="section-one" class="homepage-section">
  <%= image_tag 'spider-web.svg', id: 'spiderweb' %>
  <%= image_tag 'spider-draft.png', id: 'spider' %>
  <div class="content-wrapper">
    <h1 class="main-title">
      Dave Cruikshank <span class="subtitle">Web Design & Development</span></h1>
    <p class="body">I'm a designer, developer, illustrator & photographer from Australia.</p>
    <p class="body">We have lots of spiders here, I think they're pretty cute.</p>
  </div>
</section>
<!-- <section id="section-two" class="homepage-section">
</section>
<section id="section-three" class="homepage-section">
</section>
<section id="section-four" class="homepage-section">
</section> -->