=transition($values)
  -o-transition: $values
  -moz-transition: $values
  -webkit-transition: $values
  transition: $values

=transform($values)
  -o-transform: $values
  -moz-transform: $values
  -webkit-transform: $values
  -ms-transform: $values
  transform: $values
